@import url('https://fonts.googleapis.com/css?family=Poppins');

/*HERO HEADER*/

.header-img {
    background-image: url(../img/creative-header-slide-1.png);
    width: 100%;
    height: 960px;
    position: relative;
    background-repeat: no-repeat;
}

.menu-icons {
    display: flex;
    justify-content: space-between;
    padding: 20px 39px;
}

.slide-menu {
    font-size: 25px;
}

.slide-menu a {
    color: #ffff;
}

.main-name-font {
    color: #ffffff;
    font-family: Poppins;  
    font-weight: bold;
}

.main-name-position {
    position: absolute;
    width: 100%;
    top: 25%;
}

.first-name {
    font-size: 150px;
    letter-spacing: -5px;
    line-height: 160px;
    display: flex;
    justify-content: center;
}

.second-name {
    font-size: 36px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    font-weight: 500;
}

.button-flex {
    display: flex;
    justify-content: center;
}

.grey-button {
    width: 190px;
    height: 64px;
    border-radius: 32px;
    border: 1px solid #ffffff;
    background-color: transparent;
    margin-top: 27px;
}

.grey-button:hover {
    cursor: pointer;
    background-color: #ffffff24;
}

.button-font {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.arrow-position {
    font-size: 48px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 2%;
    width: 100%;
}

/*INTRO 01*/

.design-name-one {
    font-size: 45px;
    line-height: 60px;
    color: #2a2d2e;
    letter-spacing: -4px;
}

.design-note {
    color: #2a2d2e;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}

.first-design-img img {
    width: 90%;
    height: 470px;
    margin-left: 90px;
}

.design-info-m {
    margin: 0 9% 0 9%;
}

.white-button {
    width: 180px;
    height: 64px;
    border-radius: 32px;
    border: 1px solid #2a2d2e;
    background-color: #ffffff;
    font-size: 10px;
    color: #2a2d2e;

}

.white-button:hover {
    cursor: pointer;
    background-color: #f3ebeb;
}


.design-section-flex {
    display: flex;
    margin: 7% 0 0 0;
}

/*INTRO VIDEO*/

.second-design-img img {
    width: 350%;
    height: 470px
}

.white-button-font {
    margin-left: 450px;
}

.names-m {
    width: 60%;
    margin-left: 450px;
}
.design-name-one-r {
    font-size: 50px;
    line-height: 42px;
}

.design-note-two {
    font-size: 16px;
    line-height: 30px;
}

.design-paragraph {
    color: #72787a;
    font-weight: 400;
    font-size: 11px;
}

/*PORTFOLIO*/

.all-applications {
    display: flex;
    justify-content: center;
    line-height: 10.56;
    letter-spacing: -0.9px;
    text-align: center;
} 

.all-applications li {
    list-style: none;
    margin: 0 10px;
}

.all-applications a {
    text-decoration: none;
    color: #818586;
    font-size: 15px;
    font-weight: 500;
}

.all-applications a:hover {
    color: #2a2d2e;
}

/*grid*/

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
    grid-gap: 10px;
}

.grid-container > div {
    min-height: 385px;
    min-width: 385px;
    display: flex;
    align-items: flex-end;
    background-size: cover;

}

.grid-item-1 {
    background: url("../img/grid-img-1.jpg");
    grid-area: 1/1/3/3;
}

.grid-item-2 {
    background: url("../img/grid-img-2.jpg");
    grid-area: 1/3/2/5;
}

.grid-item-3 {
    background: url("../img/grid-img-3.jpg");
    grid-area: 2/3/3/5;
}

.grid-item-4 {
    background: url("../img/grid-img-4.jpg");
    grid-area: 3/1/5/2;
}

.grid-item-5 {
    background: url("../img/grid-img-5.jpg");
    grid-area: 3/2/5/4;
}

.grid-item-6 {
    background: url("../img/grid-img-6.jpg");
    grid-area: 3/4/4/5;
}

.grid-item-7 {
    background: url("../img/grid-img-7.jpg");
    grid-area: 4/4/5/5;
}

.grid-item-8 {
    background: url("../img/grid-img-8.jpg");
    grid-area: 5/1/7/3;
}

.grid-item-9 {
    background: url("../img/grid-img-9.jpg");
    grid-area: 5/3/7/5;
}


.subtitle {
    margin: 0;
    color: #ffffff;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.9px;
}

.title{
    margin: 0;
    color: #ffffff;
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -1.2px;
}

.grid-text {
    margin: 2%;
}

.portfolio-btn {
    margin-top:40px;
    margin-left: 570px;
    margin-bottom: 55px;
}
/*PRICING TABLE*/

.pricing-table-background {
    background: url(../img/project-types-bg.jpg);
    height: 1000px;
    background-size: cover;
    background-position: center;
}

.pricing-table-headlines {
    text-align: center;
}

.types-of-projects {
    display: flex;
    justify-content: center;
}

.icons-posision {
    text-align: center;
    margin: 5%;
}

.headline-one {
    font-family: "Poppins";
    font-size: 80px;
    line-height: 1.25;
    letter-spacing: -4px;
    margin: 0;
    padding-top: 5%;
}

.headline-two {
    font-size: 14px;
    font-weight: 300;
    margin: 10px;
}

.border-hover img {
    box-sizing: border-box;
    border: transparent;
    border-radius: 80px;
    padding: 9px;
    width: 134px;
    height: 134px;
}

.border-hover img:hover {
    box-sizing: border-box;
    border: 1px solid #ffffff;
    border-radius: 80px;
    padding: 8px;
    width: 134px;
    height: 134px;
}

.project-features {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 13%;
}

.name-of-project {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: -0.2px;
    margin: 9% 0;
}

.text-through {
    text-decoration: line-through;
}

.violet-button {
    width: 170px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #ffffff;
    background-color: transparent;
}

.violet-button:hover {
    width: 170px;
    height: 50px;
    border-radius: 25px;
    background-color: #7443ff;
    border: #7443ff;
}

/*KEEP IN TOUCH*/

.keep-in-touch-flex {
    display: flex;
    justify-content: space-between;
    margin: 9% 10%;
    border-bottom: 1px solid #bcbcbc;
}

.violet-name {
    display: flex;
    color: #7443ff;
    font-family: "Poppins - Semi Bold";
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2.64px;
}

.violet-name hr {
    width: 2px;
    height: 20px;
    border: 1px solid #7443ff;
    background: #7443ff;
    margin: 0;
    margin-right: 10px;
}

.keep-in-touch-name {
    color: #2a2d2e;
    font-size: 55px;
}

.my-form-control {
    border: transparent;
    border-bottom: 1px solid #6666;
    outline: none;
    width: 470px;
    font-size: 16px;
}

.my-form-control:focus {
    color: #495057;
    background-color: #fff;
    border: transparent;
    border-bottom: 1px solid #7443ff;
    outline: none;
    box-shadow: none;
}

.keep-in-touch-arrow-link {
    position: absolute;
    right: 70px;
    bottom: 5px;
    color: #495057;
}

.keep-in-touch-arrow-link a:hover {
    color: #000000;
}

.form-group {
    margin-left: 350px;
    margin-top: 20px;
}

.my-form-group {
    margin-top: 30px;
}

.my-form-check {
    margin-bottom: 15px;
}

.my-form-check-input {
    width: 26px;
    height: 26px;
    margin-top: 0;
}

.form-check-input:hover {
    color: hsl(315, 100%, 50%);
}

.my-form-check-label {
    margin-bottom: 0;
    margin-left: 25px;
    font-size: 16px;
}

.check-pad {
    padding: 5% 0;
}

.keep-in-touch-button {
    margin-bottom: 14%;
    margin-left: -68%;
}


.keep-in-touch-contacts {
    display: flex;
    justify-content: space-between;
    margin: 9% 10%;
}

.keep-in-touch-title {
    color: #2a2d2e;
    font-size: 30px;
    font-weight: 500;
    line-height: 100px;
    letter-spacing: -1.5px;
}

.keep-in-touch-subtitle {
    color: #2a2d2e;
    font-size: 16px;
    font-weight: 300;
}

/*SOCIAL*/

.social-background {
    height: 220px;
    background-color: #7443ff;
    background-image: linear-gradient(to right, #93eef9 0%, #7443ff 100%);
}

.social-icons {
    display: flex;
    justify-content: space-around;
    line-height: 14;
}

.social-icons a {
    font-size: 30px;
    line-height: 1.13;
    color: #ffffff;
    text-decoration: none;
    font-family: Poppins;  
}

.social-icons-line {
    width: 17%;
    text-align: center;
    border-right: 1px solid #cccccc;  
}

.social-icons a:hover {
    color: #1d2e3f;
    opacity: 0.5;
}

/*FOOTER*/

.footer-flex {
    display: flex;
    justify-content: space-around;
    line-height: 75px;
    padding: 5%;
}

.logo-flex {
    display: flex;
}

.footer-logo-name {
    font-size: 26px;
    letter-spacing: -1px;
    color: #262b40;
    padding-left: 10px;
}

.copyrights {
    font-size: 14px;
    font-weight: normal;
    line-height: 2.14;
    color: #72787a;
}

.social-links {
    display: flex;
}

.social-links a {
    text-decoration: none;
    color: #72787a;
    padding-right: 20px;
}

.social-links a:hover {
    color: #000000;
}

.social-links span {
    padding-right: 20px;
}

.input-headline {
    font-size: 18px;
    letter-spacing: -0.7px;
    color: #262b40;
}

.bottom-line {
    position: relative;
}

.bottom-line input {
    width: 518px;
    line-height: 40px;
    font-size: 14px;
    cursor: text;
    border: transparent;
    border-bottom: 1px solid #6666;
    outline: none;
}

.bottom-line input:focus {
    border: transparent;
    border-bottom: 1px solid #000000;
    outline: none; 
}

.arrow-link {
    position: absolute;
    right: 5px;
    bottom: 0px;
    color: #262b40;
}


@media screen and (max-width: 1200px) {
    .design-name-one {
        font-size: 35px;
        line-height: 45px;
    }

    .first-design-img img {
        width: 80%;
        height: 370px;
        margin-left: 90px;
    }

    .second-design-img img {
        width: 340%;
        height: 470px
    }

    .names-m {
        width: 60%;
        margin-left: 320px;
    }

    .design-name-one-r {
        font-size: 30px;
        line-height: 32px;
    }
    
    .grid-item-4 {
        background: url("../img/grid-img-4.jpg");
        grid-area: 3/1/5/3;
    }
    
    .grid-item-5 {
        background: url("../img/grid-img-5.jpg");
        grid-area: 3/3/5/5;
    }
    
    .grid-item-6 {
        background: url("../img/grid-img-6.jpg");
        grid-area: 5/1/5/3;
    }
    
    .grid-item-7 {
        background: url("../img/grid-img-7.jpg");
        grid-area: 5/3/6/5;
    }
    
    .grid-item-8 {
        background: url("../img/grid-img-8.jpg");
        grid-area: 6/1/7/3;
    }
    
    .grid-item-9 {
        background: url("../img/grid-img-9.jpg");
        grid-area: 6/3/7/5;
    }

    .portfolio-btn {
        margin-top: 20px;
        margin-left: 400px;
        margin-bottom: 55px;
    }

    .form-group {
        margin-left: 150px;
        margin-top: 20px;
    }

}

@media screen and (max-width: 740px) {
    .grid-container {
        display: flex;
        flex-direction: column;
    }

    .grid-container > div {
        margin: 2% 0;
    }
}
    